<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034896136437-bb48h4o5ctbcnmch2gs95vq8vttsdmv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034896136437-bb48h4o5ctbcnmch2gs95vq8vttsdmv1</string>
	<key>API_KEY</key>
	<string>AIzaSyAnJR5Ztl6j1-EviA8gGl4KFNV-PyiRNYM</string>
	<key>GCM_SENDER_ID</key>
	<string>1034896136437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.thermo</string>
	<key>PROJECT_ID</key>
	<string>thermometer-app-4476b</string>
	<key>STORAGE_BUCKET</key>
	<string>thermometer-app-4476b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034896136437:ios:3ed6e7454169e3945d0dbc</string>
	<key>DATABASE_URL</key>
	<string>https://thermometer-app-4476b.firebaseio.com</string>
</dict>
</plist>